<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias alias="Hospital" type="Entity.Hospital"/>
        <typeAlias alias="DiseaseHospital" type="Entity.DiseaseHospital"/>
        <typeAlias alias="Drug" type="Entity.Drug"/>
        <typeAlias type="Entity.Region" alias="Region"/>
        <typeAlias type="Entity.Disease" alias="Disease"/>
        <typeAlias type="Entity.FeesDetail" alias="FeesDetail"/>
        <typeAlias type="Entity.TotalTrend" alias="TotalTrend"/>
        <typeAlias type="Entity.AgeDistribution" alias="AgeDistribution"/>
        <typeAlias type="Entity.Forecast" alias="Forecast"/>
        <typeAlias type="Entity.HospitalAD" alias="HospitalAD"/>
        <typeAlias type="Entity.Outlier" alias="Outlier"/>
    </typeAliases>

    <environments default="development">

        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/mif"/>
                <property name="username" value="root"/>
                <property name="password" value="123"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/Hospital_Mapper.xml"/>
        <mapper resource="mapper/Drug_Mapper.xml"/>
        <mapper resource="mapper/Region_Mapper.xml"/>
        <mapper resource="mapper/Disease_Mapper.xml"/>
        <mapper resource="mapper/Statistic_Mapper.xml"/>
        <mapper resource="mapper/Forecast_Mapper.xml"/>
        <mapper resource="mapper/Dictionary_Mapper.xml"/>
        <mapper resource="mapper/Outlier_Mapper.xml"/>
    </mappers>
</configuration>
